<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="1days" />
    <title>TLBB</title>
    <meta name="description" content="Game online 3D đình đám mang cốt truyện nổi tiếng Kim Dung cùng định hướng phát triển game hấp dẫn, tham gia ngay"
    />
    <meta name="keywords" content="" />
    <meta property="og:title" content="Game online 3D đình đám mang cốt truyện nổi tiếng Kim Dung cùng định hướng phát triển game hấp dẫn, tham gia ngay"
    />
    <meta property="og:description" content="Game online 3D đình đám mang cốt truyện nổi tiếng Kim Dung cùng định hướng phát triển game hấp dẫn, tham gia ngay"
    />

    <link rel="stylesheet" type="text/css" href="css/global.css" media="screen" />
    <link rel="stylesheet" href="css/style-404.css" type="text/css" />
</head>

<body style="background: url(/static/full.jpg) no-repeat center 0;">

    <div class="wrapper-page">
        <div class="header">
            <a href="/" class="logo-game">Trở về trang chủ</a>
            <a href="/" class="btn home">Trở về trang chủ </a>
            <a href="#" class="btn forum">Diễn đàn</a>
        </div>
</body>