<div class="forms" id="change-password" style="display: none;">
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <h4>Đổi mật khẩu</h4>
        </div>
        <div class="form-body">
            <form id="formChangePassword">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tài khoản</label>
                    <input type="text" disabled class="form-control" id="txtUsername" placeholder="Tài khoản">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mật khẩu cũ</label>
                    <input type="password" class="form-control" id="txtPasswordOld" name="passwordOld" placeholder="Mật khẩu cũ">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="txtPasswordNew" name="passwordNew" placeholder="Mật khẩu mới">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="txtPasswordReNew" name="passwordReNew" placeholder="Nhập lại mật khẩu">
                </div>
                <div class="form-group">
                    <div>
                        <a id="btnReloadcaptcha">
                            <label for="exampleInputEmail1" class="pointer" id="lblCaptcha" style="text-align: center"></label>
                        </a>
                    </div>
                    <input type="text" class="form-control" name="svgcaptcha" id="txtCaptcha" placeholder="Nhập mã ở trên">
                </div>
                <div class="form-group" id="messageError" style="display: none;">
                    <label for="exampleInputEmail1" id="lblMessage" style="color: red; font-weight: bold">

                    </label>
                </div>
                <div class="sub_home">
                    <input type="button" class="btn btn-primary" id="btnChangePassword" value="Đổi mật khẩu">
                    <div class="clearfix"> </div>
                </div>
            </form>
        </div>
    </div>
    <script src="js/controllers/change-password.js"></script>
</div>