<div class="main-page">
        <div class="tables">
            <div class="table-responsive bs-example widget-shadow">
                <h4>Bảng xếp hạng tài phú</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên nhân vật</th>
                            <th>Cấp độ</th>
                            <th>ID nhân vật</th>
                            <th>Môn phái</th>
                            <th>Điểm tích lũy</th>
                            <th>Giới tính</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyRatingsLevel">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <script src="js/controllers/ratingswealth.js"></script>
    </div>